@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <img src="~/images/get-a-car.png" />
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
